body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.main-content, .more-info, .review-info {
    margin: 1em;
}

#title , #year{
    font-weight: 500;
    line-height: 1.1;
}

#year {
    font-size: .7em;
    color: #999;
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#imageURL {
    border: 0;
    box-shadow: 0.1em 0.2em 0.5em rgba(0,0,0,0.5);
    width: 100%;
    max-width: 20em;
    min-width: 10em;
    border-radius: 0.3em;
}

.split {
    width: 50%;
    min-height: 0.1em;
    min-width: 10em;
    max-width: 20em;
}

.details {
   margin: 1em;
}

#plot {
    text-align: justify;
}

hr {
    border: 0.3em solid #e9e9e9;
}

dd {
    margin: 0;
    word-wrap: break-word;
}

dt {
   font-weight: bold;
   line-height: 1.5;
   margin: 1em 0 0 0;
}

button {
    text-align: center;
    border-radius: .3em;
    color: #FFFFFF;
    padding: .5em;
    margin: 1em 0 0 0;
    font-size: 1em;
    border-color: black;
}

#reviewButton, #addViewButton, #shareButton {
    background: rgb(75, 81, 183);
}

#removeReviewButton, #removeViewButton{
    background: rgb(198,56,61);
}

#type, #filmId, #review, #added, #removeViewButton{
    display: none;
}